In [1]:
counter =0
while counter < 10:
    print counter
    counter+=1

0
1
2
3
4
5
6
7
8
9

In [2]:
def add2(x):
    y=x+2
    return y
i = 5
add2(i)

7


#Fire GraphLab Create

In [3]:
square = lambda x: x*x
square(3)

9

In [ ]:
import graphlab
sf = graphlab.SFrame('people-example.csv')

In [6]:
import graphlab
sf = graphlab.SFrame('people-example.csv')

Could not detect types. Using str for each column.

RuntimeError: Runtime Exception. No files corresponding to the specified path (C:\Users\Innocent\people-example.csv).

In [7]:
import graphlab
sf = graphlab.SFrame('people-example.csv')

Could not detect types. Using str for each column.

RuntimeError: Runtime Exception. No files corresponding to the specified path (C:\Users\Innocent\people-example.csv).

In [8]:
import graphlab
sf = graphlab.SFrame('people-example.csv')

PROGRESS: Finished parsing file C:\Users\Innocent\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.116087 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\Innocent\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.050063 secs.

In [9]:
sf #we can view first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

#GraphLab Canvas

In [10]:
#take any data structure in GraphLab create 
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:53391/index.html
Opening Canvas in default web browser.

In [11]:
graphlab.canvas.set_target('ipynb')

In [12]:
sf['age'].show(view='Categorical')

In [13]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [14]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [15]:
sf['age'].mean()

23.142857142857146

In [16]:
sf['age'].max()

25L

In [17]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [18]:
sf['Full Name'] = sf['First Name'] +' '+ sf['Last Name']

In [19]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [20]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [21]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [22]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [23]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [24]:
transform_country('France')

'France'

In [25]:
transform_country('USA')

'United States'

In [26]:
sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. lambda workers did not start

In [27]:
sf['Country'] = sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. lambda workers did not start

In [ ]:
sf['Country']

In [28]:
sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. lambda workers did not start

In [ ]:
sf['Country'] = sf['Country'].apply(transform_country)

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [30]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [31]:
transform_country('Cameroun')

'Cameroun'

In [32]:
transform_country('USA')

'United States'

In [33]:
sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. lambda workers did not start

In [ ]:
sf['Country'].apply(transform_country)

In [35]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [36]:
sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. lambda workers did not start

In [37]:
sf['Country'] = sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. lambda workers did not start